services:

  redis:
    container_name: redis
    image: redis:8-alpine
    restart: unless-stopped
    ports:
      - 6379:6379
    volumes:
      - redis:/data
    command: redis-server --appendonly yes
    
  valkey:
    container_name: valkey
    image: valkey/valkey:9-alpine
    restart: unless-stopped
    ports:
      - 6380:6379
    volumes:
      - valkey:/data
    command: valkey-server --appendonly yes
    
  redisinsight:
    container_name: redisinsight
    image: redis/redisinsight:latest
    restart: unless-stopped
    volumes:
      - redisinsight:/data
    depends_on:
      - redis
      - valkey
    ports:
      - 5540:5540

volumes:
  redis:
  valkey:
  redisinsight: